<div class="author">
  <h1 class="author__heading">The Writers Blog .</h1>
</div>

<img src="/img/people-walking.png" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post=> { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span>
            <%= post.title %>
          </span>
          <span class="article-list__date">
            <%= post.createdAt.toDateString() %>
          </span>
        </a>
      </li>
      <% }) %>
  </ul>

  <div class="pagination">
  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination_left">&lt; View Older Posts</a>
  <% } %>
  <% if (prevPage !== null) { %>
    <a href="/?page=<%= prevPage %>" class="pagination_right">View Newer Posts &gt;</a>
  <% } %>
</div>


</section>