<div>
    <div>
        <h1>
            <%= locals.postData.title %>
        </h1>
        <article class="article">
            <%= locals.postData.body %>
        </article>
    </div>
    <div>
        <h2>Comments</h2>
        <% locals.commentsData.forEach(comment=> { %>
            <!-- comments container -->
            <div class="comment_block">
                <!-- 
        Comments are structured in the following way:

        {ul} defines a new comment (singular)
        {li} defines a new reply to the comment {ul}
        -->
                <!-- new comment -->
                <div class="new_comment">
                    <!-- build comment -->
                    <ul class="user_comment">
                        <div class="comment_body">
                            <p>
                                <%= comment.content %>
                            </p>
                        </div>
                        <!-- comments toolbar -->
                        <div class="comment_toolbar">
                            <!-- inc. date and time -->
                            <div class="comment_details">
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>
                                        <%= comment.createdAt %>
                                    </li>
                                    <li><i class="fa fa-pencil"></i> <span class="user">
                                            <%= comment.user %>
                                        </span></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>

            <% }) %>
    </div>
</div>