<html>
<!-- <style>
    @import "style.css";
  </style> -->
<div class="author">
  <h1 class="author__heading"><%= locals.username %>'s Profile</h1>
  <img src="/img/profile-image-girl.jpg" alt="girl working on her computer" class="profile-image">
</div>


<ul class="user-posts">
  <h2>New Post:</h2>
  <form action="/profile/submit-post" method="POST" class="postForm">
    <label for="postTitle"><b>Title</b></label>
    <input type="text" id="postTitle" name="postTitle" placeholder="Title">
    <input type="text" id="postContent" name="postContent" placeholder="Content">
    <div class="clearfix">
        <button type="submit" class="postBtn">Post</button>
        <button type="button" class="clearPostBtn" id="clearPostBtn">Clear</button>
    </div>
  </form>
  <h2>My Posts:</h2>
  <% data.forEach(post=> { %>
    <li>
      <a href="/post/<%= post._id %>">
        <%= post.title %> &nearr;
      </a>
      <div class="user-post-controls">
        <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>

        <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete" class="btn-delete btn">
        </form>

      </div>

    </li>

    <% }) %>
</ul>

</html>